!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  .navbar.navbar-inverse
    .navbar-inner
      %a.brand Workshops App
      %ul.nav
        - if user_signed_in?
          %li
            %a{:href => "#"}
              = 'Signed in as: ' + current_user.firstname + ' ' + current_user.lastname
          %li= link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %li= link_to "Sign in", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path
  %body
    .container
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name}"}
          = msg
      .row
        .span9
          = yield
        